[run]branch = Trueomit =	*__init__*        *venv*        *migrations*	*apps.py*	*config*	*apps.py*	*admin.py*	*urls.py*	*manage.py*	*tests.py*[report]omit =	*__init__*        *venv*        *migrations*	*tests.py*	*config*	*apps.py*	*admin.py*	*urls.py*	*manage.py*	*tests.py*