asgiref==3.3.1
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coverage==5.5
Django==3.1.6
django-client-side-image-cropping==0.1.8
django-crispy-forms==1.11.0
django-recaptcha==2.0.6
django-resized==0.3.11
google-api-core==1.26.3
google-auth==1.29.0
google-cloud-core==1.6.0
google-cloud-storage==1.37.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
idna==2.10
packaging==20.9
Pillow==8.1.0
protobuf==3.15.8
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
rsa==4.7.2
selenium==3.141.0
sentry-sdk==1.0.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
