{% load crispy_forms_tags %}
<!-- Reservation modal -->
<button class="btn btn-teal btn-block text-center mb-2 font-weight-bolder" type="button" data-toggle="modal" data-target="#staticBackdrop">AJOUTER UNE RÉSERVATION</button>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Formulaire de réservation</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
            <!-- Registration form-->
                <form method="POST">
                    {% csrf_token %}
                    <!-- Form Row-->
                    <fieldset class="form-group">
                        {{ form.name|as_crispy_field }}
                        {{ form.start_date|as_crispy_field }}
                        {{ form.end_date|as_crispy_field }}
                        {{ form.description|as_crispy_field }}
                        {{ form.media }}
                    </fieldset>
                    <!-- Form Group (create account submit)-->
                    <div class="modal-footer form-group mb-0">
                        <button class="btn btn-teal font-weight-bolder" type="submit">Valider ma réservation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
