{% extends "bouygue/base.html" %}
{% load static %}
{% block content %}
<!-- Page Header-->
<section class="bg-light py-10">
    <div class="container animated--fade-in" style="padding-left: 2rem; padding-right: 2rem;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5 border-bottom">
                    <h2>Rubriques</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Calendrier
                {% if reservations_length > 0 %}
                    ({{ reservations_length }})
                {% endif %}
                </h6>
                <a class="d-block rounded-lg lift lift-lg" href="{% url 'agenda' %}" name="calendar"><img class="img-fluid rounded-lg" src="{% static 'bouygue/assets/img/preview/calendar_preview.png' %}" /></a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Discussions
                {% if posts_length > 0 %}
                    ({{ posts_length }})
                {% endif %}
                </h6>
                <a class="d-block rounded-lg lift lift-lg" href="{% url 'blog' %}" name="blog"><img class="img-fluid rounded-lg" src="{% static 'bouygue/assets/img/preview/blog_preview.png' %}" /></a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Activités
                {% if activities_length > 0 %}
                    ({{ activities_length }})
                {% endif %}
                </h6>
                <a class="d-block rounded-lg lift lift-lg" href="{% url 'activities' %}" name="activities"><img class="img-fluid rounded-lg" src="{% static 'bouygue/assets/img/preview/activities_preview.png' %}" /></a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Informations
                {% if infoposts_length > 0 %}
                    ({{ infoposts_length }})
                {% endif %}
                </h6>
                <a class="d-block rounded-lg lift lift-lg" href="{% url 'info' %}" name="info"><img class="img-fluid rounded-lg" src="{% static 'bouygue/assets/img/preview/info_preview.png' %}" /></a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Travaux
                {% if works_length > 0 %}
                    ({{ works_length }})
                {% endif %}
                </h6>
                <a class="d-block rounded-lg lift lift-lg" href="{% url 'work' %}" name="work"><img class="img-fluid rounded-lg" src="{% static 'bouygue/assets/img/preview/work_preview.png' %}" /></a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3" style="opacity: 0.5;" >Budget (en construction)</h6>
                <a class="d-block rounded-lg lift lift-lg" href="" style="opacity: 0.15;" name="budget"><img class="img-fluid rounded-lg" src="{% static 'bouygue/assets/img/preview/budget_preview.png' %}" /></a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#f2f6fc"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>

<section class="bg-light py-10">
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#1e2c41"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
{% endblock content %}
