{% extends "bouygue/base.html" %}
{% load static %}
{% block content %}
<div hidden>{% block title %} - Bienvenue {% endblock %}</div>
<!-- Page Header-->
<header class="page-header page-header-dark bg-img-cover overlay-20 overlay" style="background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/bergerie.jpg' %}); height: 62rem;">
    <div class="page-header-content mt-5 lift">
        <div class="container" style="padding-left: 2rem; padding-right: 2rem;">
            <div class="row justify-content-center rounded-xl animated--fade-in" style="background-color: rgba(30, 44, 65, 0.52);">
                <div class="col-xl-8 col-lg-10 text-center mt-5">
                    <h1 class="page-header-title" style="font-size: 180%">Bienvenue sur le site internet de La Bouygue !</h1>
                    <h3 class="mt-5 mb-5" style="color: white; font-size: 120%" >Créez-vous un compte pour pouvoir accéder aux fonctionnalités du site.</h3>
                    <a class="btn btn-outline-dark bg-white lift font-weight-500 mb-4" href="{% url 'users-register' %}">Créer un compte</a>
                    <a class="btn btn-outline-dark bg-white lift font-weight-500 mb-4 ml-1" href="{% url 'users-login' %}">Se connecter</a>
                </div>
            </div>
        </div>
    </div>
<div class="svg-border-waves text-dark">
    <!-- Wave SVG Border-->
    <svg class="wave" style="pointer-events: none" fill="#1e2c41" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
            <style>
                .a {
                    fill: none;
                }
                .b {
                    clip-path: url(#a);
                }
                .d {
                    opacity: 0.5;
                    isolation: isolate;
                }
            </style>
        </defs>
        <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
        <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
        <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
        <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
        <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
    </svg>
</div>
</header>
{% endblock content %}
