{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div hidden>{% block title %} - Connexion {% endblock %}</div>
<div id="layoutAuthentication_content" class="bg-img-cover bg-gray-900" style="padding-right: 0.5rem; padding-left: 0.5rem; background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/lac_lourdenvie.jpg' %}); height: 58rem;">
    <div class="container" style="padding-right: 1rem; padding-left: 1rem;">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <!-- Basic registration form-->
                <div class="card shadow-lg border-0 rounded-lg mt-12 mb-10 animated--fade-in" style="opacity: 92%">
                    <div class="card-header justify-content-center" style="background-color: #19273c; opacity: 96%"><h3 class="font-weight-50 my-4" style="color: white">Connexion</h3></div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- Registration form-->
                        <form method="POST">
                            {% csrf_token %}
                            <!-- Form Row-->
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <!-- Form Group (create account submit)-->
                            <div class="form-group mt-4 mb-0">
                                <button class="btn btn-primary font-weight-bold" type="submit" name="login">Se connecter</button>
                                <small class="text-muted">
                                    <a class="ml-2" href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
                                </small>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a href="{% url 'users-register' %}">Pas encore de compte ? Par ici !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
