{% extends "bouygue/base-volet.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} — Connexion {% endblock %}
{% block volet_image %}{% static 'bouygue/assets/img/backgrounds/montagne/bouygue1.JPG' %}{% endblock %}
{% block volet_largeur %}col-lg-7 col-xl-6{% endblock %}
{% block volet_retour %}{% endblock %}
{% block volet_titre %}Connexion{% endblock %}
{% block volet_corps %}
    <p class="berg-craie mb-4">content de vous revoir</p>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <fieldset class="form-group">{{ form|crispy }}</fieldset>
        <div class="berg-form-pied">
            <button class="btn btn-primary" type="submit" name="login">Se connecter</button>
            <a class="ml-auto small" href="{% url 'password_reset' %}">Mot de passe oublié&nbsp;?</a>
        </div>
    </form>
{% endblock %}
{% block volet_pied %}
    <div class="berg-volet-pied">Pas encore de compte&nbsp;? <a href="{% url 'users-register' %}">Par ici</a>.</div>
{% endblock %}
