{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% block import %}
    {% include 'blocks/image-resize-imports.html' %}
{% endblock %}
<div id="layoutAuthentication_content" class="bg-img-cover bg-gray-900" style="padding-right: 0.5rem; padding-left: 0.5rem; background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/lacs.jpg' %}); height:62rem;">
    <div class="container" style="padding-right: 1rem; padding-left: 1rem">
        <div class="row justify-content-center">
            <div class="col-lg-9 mt-5">
                <!-- Profile -->
                <div class="card shadow-lg border-0 rounded-lg mt-10 animated--fade-in">
                    <div class="card-header mb-3" style="background-color: #19273c; opacity: 96%">
                        <a onClick="javascript:history.go(-1);" class="col-xs btn btn-outline-white font-weight-bolder" title="retour"><i class="fas fa-chevron-left dropdown-arrow"></i></a>
                        <div class="col-11 font-weight-700 h4 my-4 mr-2" align="center" style="color: white;">
                            {{ clicked_user.surname }} {{ clicked_user.name }} - {{ clicked_user }}
                        </div>
                    </div>
                    <div class="card-body text-center font-weight-500 mb-3">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="font-weight-600 text-center alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <img class="rounded-circle account-img mb-4" id="profile-img" src="{{ clicked_user.profile.image.url }}">
                        <div class="col-lg-5 font-weight-600 ml-auto mr-auto" style="font-size: large;">
                            <p class="mt-4 mb-4">{{ clicked_user.surname }} {{ clicked_user.name }} a créé : </p>
                            <ul class="mt-3">
                                <div class="d-flex">
                                    <li>{{ clicked_user.post_set.all|length }} discussion(s)</li>
                                    {% if clicked_user.post_set.all|length > 0 %}
                                        <a href="{% url 'user-app' clicked_user.id 'discussion(s)' %}" class="btn-sm btn-primary ml-auto">Voir</a>
                                    {% endif %}
                                </div>
                                <div class="d-flex mt-3">
                                    <li>{{ clicked_user.activity_set.all|length }} activité(s)</li>
                                    {% if clicked_user.activity_set.all|length > 0 %}
                                        <a href="{% url 'user-app' clicked_user.id 'activité(s)' %}" class="btn-sm btn-primary ml-auto">Voir</a>
                                    {% endif %}
                                </div>
                                <div class="d-flex mt-3">
                                    <li>{{ clicked_user.work_set.all|length }} tâche(s)</li>
                                    {% if clicked_user.work_set.all|length > 0 %}
                                        <a href="{% url 'user-app' clicked_user.id 'tâche(s)' %}" class="btn-sm btn-primary ml-auto">Voir</a>
                                    {% endif %}
                                </div>
                                {% if clicked_user.is_admin or clicked_user.is_superuser%}
                                <div class="d-flex mt-3">
                                    <li>{{ clicked_user.infopost_set.all|length }} information(s)</li>
                                    {% if clicked_user.infopost_set.all|length > 0 %}
                                        <a href="{% url 'user-app' clicked_user.id 'information(s)' %}" class="btn-sm btn-primary ml-auto">Voir</a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
