{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div hidden>{% block title %} - Discussions {% endblock %}</div>
<!-- Page Header-->
<header class="page-header page-header-dark bg-img-cover overlay overlay-60" style="background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/lac_gavarnie.jpg' %}); height: 19rem;">
    <div class="page-header-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mt-0 mb-3">Discussions</h1>
                    <p class="page-header-text mb-0">Cliquez sur une discussion pour lire son contenu</p>
                </div>
            </div>
        </div>
    </div>
    {% block border-wave %}
        {% include 'blocks/svg-border-wave.html' %}
    {% endblock %}
</header>
<section class="bg-light py-4">
    <div class="container" style="padding-left: 1.5rem; padding-right: 1.5rem;">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="post-archive-tag">
                    <a class="btn btn-primary font-weight-bolder mt-1" href="{% url 'bouygue-home' %}" title="retour" ><i class="fas fa-chevron-left dropdown-arrow"></i></a>
                    <a class="btn btn-primary font-weight-700 mt-1" href="{% url 'post-create' %}" name="new">Nouvelle Discussion</a>
                </div>
                {% for post in posts %}
                    <a class="post-archive-item" href="{% url 'post-detail' post.id %}">
                        <h5>{{ post.title }}</h5>
                        <p>{{ post.content }}</p>
                    </a>
                    <div class="post-archive-meta">
                        <a href="{% url 'profile-view' post.author.id %}"><img class="post-archive-meta-img" src="{{ post.author.profile.image.url }}" />
                        <div class="post-archive-meta-details">
                            <div class="post-archive-meta-details-name {% if post.author.is_superuser or post.author.is_staff %} text-purple {% endif %}">{{ post.author.surname }} {{ post.author.name }}</div></a>
                            <div class="post-archive-meta-details-date">{{ post.date_posted }}</div>
                        </div>
                        <a class="font-weight-700 col-lg-3 ml-auto" style="padding-right: 0;" href="{% url 'post-detail' post.id %}">Voir la discussion</a>
                    </div>
                    <hr class="my-5" />
                {% endfor %}
            </div>
        </div>
        <!-- Pagination -->
        {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-blog justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item active"><a class="page-link" href="?page=1">Début</a></li>
                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Préc.</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Suiv.</a></li>
                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Fin</a></li>
            {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>
{% endblock content %}
