{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'blocks/image-resize-imports.html' %}

{% include 'blocks/berg-entete.html' with surtitre="Discussion" titre=post.title image="bouygue/assets/img/backgrounds/montagne/ordesa.jpg" %}

<section class="berg-section berg-section--serree">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                {% include 'blocks/berg-messages.html' %}

                <div class="berg-actions">
                    <a class="berg-retour" href="{% url 'blog' %}">Toutes les discussions</a>
                    <span class="ml-auto"></span>
                    {% if user == post.author %}
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'post-update' post.id %}" name="update-post">Modifier</a>
                    {% endif %}
                    {% if user == post.author or user.is_superuser or user.is_staff %}
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'post-delete' post.id %}" name="delete-post">Supprimer</a>
                    {% endif %}
                </div>

                <article class="berg-detail">
                    <h1 class="berg-detail-titre">{{ post.title }}</h1>
                    {% include 'blocks/berg-signature.html' with auteur=post.author date=post.date_posted %}
                    <hr class="berg-couture my-4" />
                    <div class="berg-prose">{{ post.content|linebreaks }}</div>
                    {% if post.image %}<img class="berg-illustration mt-4" src="{{ post.image.url }}" alt="" />{% endif %}
                </article>

                {% include 'blocks/berg-commentaires.html' with url_update='comment-update' url_delete='comment-delete' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
