{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <section class="bg-light py-12">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <div class="single-post">
                                <h1>{{ activity.title }}</h1>
                                <div class="d-flex align-items-center justify-content-between mb-5">
                                    <div class="post-archive-meta d-flex mt-2">
                                        <a href="{% url 'user-activities' activity.author.surname activity.author.name %}"><img class="post-archive-meta-img" src="{{ activity.author.profile.image.url }}" />
                                        <div class="post-archive-meta-details mr-auto p-2">
                                            <div class="post-archive-meta-details-name">{{ activity.author.surname }} {{ activity.author.name }}</div></a>
                                            <div class="post-archive-meta-details-date">{{ activity.date_posted }}</div>
                                        </div>
                                    </div>
                                    <div class="single-post-meta">
                                    {% if user == activity.author %}
                                    <a class="btn btn-outline-primary font-weight-700 ml-1" href="{% url 'activity-update' activity.id %}">Modifier</a>
                                    {% endif %}
                                    {% if user == activity.author or perms.blog.delete_activity %}
                                    <a class="btn btn-outline-danger font-weight-700 ml-1" href="{% url 'activity-delete' activity.id %}">Supprimer</a>
                                    {% endif %}
                                    </div>
                                </div>
                                <img class="img-fluid mb-2" src="{{ activity.image.url }}" />
                                <div class="small text-gray-500 text-center">Légende Photo</div>
                                <div class="single-post-text my-5">
                                    <p>{{ activity.content }}</p>
                                    <hr class="my-5" />
                                    <div class="text-center"><a class="btn btn-transparent-dark" href="{% url 'activities' %}">Retourner à la liste des activités</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-dark">
                    <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#1e2c41"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                </div>
            </section>
        </main>
    </div>
</div>
{% endblock content %}
