{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div hidden>{% block title %} - Activités {% endblock %}</div>
<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <!-- Page Header-->
            <header class="page-header page-header-dark bg-img-cover overlay overlay-60" style="background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/castillou.jpg' %}); height: 19rem;">
                <div class="page-header-content">
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h1 class="page-header-title mb-3">Activités</h1>
                                <p class="page-header-text mb-0">Consultez les idées d'activités, ou ajoutez la votre !</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-waves text-dark">
                    <!-- Wave SVG Border-->
                    <svg class="wave" style="pointer-events: none" fill="#f2f6fc" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
                        <defs>
                            <style>
                                .a {
                                    fill: none;
                                }
                                .b {
                                    clip-path: url(#a);
                                }
                                .d {
                                    opacity: 0.5;
                                    isolation: isolate;
                                }
                            </style>
                        </defs>
                        <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
                        <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
                        <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
                        <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
                        <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
                    </svg>
                </div>
            </header>
            <section class="bg-light py-7">
                <div class="container" style="padding-left: 1.5rem; padding-right: 1.5rem;">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="post-archive-tag">
                        <a class="btn btn-primary font-weight-bolder mt-1" href="{% url 'bouygue-home' %}" title="retour" ><i class="fas fa-chevron-left dropdown-arrow"></i></a>
                        <a class="btn btn-primary font-weight-700 mt-1" href="{% url 'activity-create' %}" name="new">Nouvelle Activité</a>
                    </div>
                    {% if activities %}
                    <a class="card post-preview post-preview-featured lift mb-5" href="{% url 'activity-detail' activities.first.id %}">
                        <div class="row no-gutters">
                            {% if activities.first.image %}
                                <div class="col-lg-5"><div class="post-preview-featured-img" style="background-image: url('{{ activities.first.image.url }}')"></div></div>
                            {% else %}
                                <div class="col-lg-5"><div class="post-preview-featured-img" style="background-image: url({% static 'bouygue/assets/img/activity_default.jpg' %})"></div></div>
                            {% endif %}
                            <div class="col-lg-7">
                                <div class="card-body-activities-first">
                                    <div class="py-4 card-body-activities">
                                        <h5 class="card-title" style="font-size: 108%;">{{ activities.first.title }}</h5>
                                        <p class="card-text-2 mt-4">Difficulté : {{ activities.first.get_difficulty_display }}</p>
                                        <p class="card-text-2">Durée : {{ activities.first.duration }}</p>
                                        <p class="card-text-2">Temps de route : {{ activities.first.distance }}</p>
                                    </div>
                                    <hr />
                                    <div class="post-preview-meta">
                                        <img class="post-preview-meta-img" src="{{ activities.first.author.profile.image.url }}" />
                                        <div class="post-preview-meta-details">
                                            <div class="post-preview-meta-details-name">{{ activities.first.author.surname }} {{ activities.first.author.name }}</div>
                                            <div class="post-preview-meta-details-date">{{ activities.first.date_posted }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    <div class="row">
                        {% for activity in activities|slice:"1:" %}
                            <div class="col-md-6 col-xl-4 mb-5">
                                <a class="card post-preview lift h-100" href="{% url 'activity-detail' activity.id %}">
                                    {% if activity.image %}
                                        <img class="card-img-top background-image" src="{{ activity.image.url }}" />
                                    {% else %}
                                        <img class="card-img-top background-image" src="{% static 'bouygue/assets/img/activity_default.jpg' %}" />
                                    {% endif %}
                                    <div class="card-body-activities">
                                        <h5 class="card-title">{{ activity.title }}</h5>
                                        <p class="card-text-2 mt-4">Difficulté : {{ activity.get_difficulty_display }}</p>
                                        <p class="card-text-2">Durée : {{ activity.duration }} h</p>
                                        <p class="card-text-2">Distance : {{ activity.distance }} km</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="post-preview-meta">
                                            <img class="post-preview-meta-img" src="{{ activity.author.profile.image.url }}" />
                                            <div class="post-preview-meta-details">
                                                <div class="post-preview-meta-details-name">{{ activity.author.surname }} {{ activity.author.name }}</div>
                                                <div class="post-preview-meta-details-date">{{ activity.date_posted }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% if is_paginated %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-blog justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item active"><a class="page-link" href="?page=1">Début</a></li>
                                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Préc.</a></li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item disabled"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Suiv.</a></li>
                                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Fin</a></li>
                            {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </section>
        </main>
    </div>
</div>
{% endblock content %}
