{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <section class="bg-light py-12">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <div class="single-post">
                                <h1>{{ activity.title }}</h1>
                                <p class="lead">{{ activity.content }}</p>
                                <div class="d-flex align-items-center justify-content-between mb-5">
                                    <div class="single-post-meta mr-4">
                                        <img class="single-post-meta-img" src="{{ activity.author.profile.image.url }}" />
                                        <div class="single-post-meta-details">
                                            <div class="single-post-meta-details-name">{{ activity.author.surname }} {{ activity.author.name }}</div>
                                            <div class="single-post-meta-details-date">{{ activity.date_posted }}</div>
                                        </div>
                                    </div>
                                    <div class="single-post-meta">
                                    {% if user == activity.author %}
                                    <a class="btn btn-outline-primary font-weight-700 ml-1" href="{% url 'activity-update' activity.id %}">Modifier</a>
                                    {% endif %}
                                    {% if user == activity.author or perms.blog.delete_activity %}
                                    <a class="btn btn-outline-danger font-weight-700 ml-1" href="{% url 'activity-delete' activity.id %}">Supprimer</a>
                                    {% endif %}
                                    </div>
                                </div>
                                <img class="img-fluid mb-2" src="{{ activity.image.url }}" />
                                <div class="small text-gray-500 text-center">Légende Photo</div>
                                <div class="single-post-text my-5">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit similique distinctio quidem blanditiis architecto ullam a itaque quisquam nihil! Unde ducimus deleniti exercitationem minima, molestiae ab saepe libero. Doloribus, a?</p>
                                    <p>Magnam amet labore exercitationem maxime consectetur molestias quas quia dicta, praesentium minus illum quis fuga, fugiat velit voluptate sed nostrum ipsam atque.</p>
                                    <p>Quaerat voluptas natus velit deleniti reprehenderit vero ad eos ab reiciendis. Libero dignissimos temporibus ipsam sint dolores voluptate consequatur debitis tempora doloremque.</p>
                                    <h4>Creating Something New</h4>
                                    <p>Laborum placeat quas accusantium vitae perferendis dolores possimus tempora, qui consectetur hic ullam autem. Enim, rerum obcaecati numquam quaerat necessitatibus voluptatem? Repellat!</p>
                                    <p>Quasi, quos quaerat? Sint at odit possimus ullam saepe suscipit officiis nobis eaque, laudantium ut earum tempore repellendus mollitia odio nam! Unde?</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi explicabo unde perferendis reprehenderit ullam nobis? Laborum amet voluptatem sunt natus? Tempore commodi corporis accusamus laudantium assumenda blanditiis aut nobis culpa.</p>
                                    <h4>It's time to build your new project</h4>
                                    <p>Facilis enim voluptatibus qui voluptatum nemo non, facere, fugiat deserunt dicta ab sunt in sequi, assumenda nobis ipsam quidem corporis. Nemo, aliquam.</p>
                                    <p>Illum numquam sapiente debitis similique, a accusantium quisquam recusandae! Nihil quia nulla blanditiis. Nobis numquam iure facilis consequuntur beatae eos adipisci doloremque!</p>
                                    <p>Voluptate reiciendis nisi tempora laboriosam commodi sequi sapiente natus aut ab, cum aspernatur illo. Nobis laboriosam excepturi iste earum. Error, ab eius?</p>
                                    <p>Quam, nesciunt iusto, praesentium amet necessitatibus quod porro libero voluptates soluta nostrum quisquam delectus repellendus totam accusamus sint magni dolore atque qui.</p>
                                    <img class="img-fluid mb-2" src="{{ activity.image.url }}" />
                                    <div class="small text-gray-500 text-center">Photo Credit: Unsplash</div>
                                    <h4>It's time to build your new project</h4>
                                    <p>Laborum placeat quas accusantium vitae perferendis dolores possimus tempora, qui consectetur hic ullam autem. Enim, rerum obcaecati numquam quaerat necessitatibus voluptatem? Repellat!</p>
                                    <p>Quasi, quos quaerat? Sint at odit possimus ullam saepe suscipit officiis nobis eaque, laudantium ut earum tempore repellendus mollitia odio nam! Unde?</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi explicabo unde perferendis reprehenderit ullam nobis? Laborum amet voluptatem sunt natus? Tempore commodi corporis accusamus laudantium assumenda blanditiis aut nobis culpa.</p>
                                    <hr class="my-5" />
                                    <div class="text-center"><a class="btn btn-transparent-dark" href="{% url 'activities' %}">Retourner à la liste des activités</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-dark">
                    <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                </div>
            </section>
        </main>
    </div>
</div>
{% endblock content %}
