{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'blocks/image-resize-imports.html' %}

{% include 'blocks/berg-entete.html' with surtitre="Balade" titre=activity.title image="bouygue/assets/img/backgrounds/montagne/castillou.jpg" %}

<section class="berg-section berg-section--serree">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">

                {% include 'blocks/berg-messages.html' %}

                <div class="berg-actions">
                    <a class="berg-retour" href="{% url 'activities' %}">Toutes les sorties</a>
                    <span class="ml-auto"></span>
                    {% if user == activity.author %}
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'activity-update' activity.id %}" name="update-activity">Modifier</a>
                    {% endif %}
                    {% if user == activity.author or user.is_superuser or user.is_staff %}
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'activity-delete' activity.id %}" name="delete-activity">Supprimer</a>
                    {% endif %}
                </div>

                <article class="berg-detail">
                    <div class="row align-items-start mb-4">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <h1 class="berg-detail-titre">{{ activity.title }}</h1>
                            {% include 'blocks/berg-signature.html' with auteur=activity.author date=activity.date_posted %}
                        </div>
                        <div class="col-lg-5">
                            <div class="berg-fiche">
                                <dl>
                                    <dt>Difficulté</dt><dd><i class="fas fa-hiking fa-fw"></i> {{ activity.get_difficulty_display }}</dd>
                                    <dt>Durée</dt><dd><i class="fas fa-clock fa-fw"></i> {{ activity.duration }}</dd>
                                    <dt>Temps de route</dt><dd><i class="fas fa-car fa-fw"></i> {{ activity.distance }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <img class="berg-illustration" src="{% if activity.image %}{{ activity.image.url }}{% else %}{% static 'bouygue/assets/img/activity_default.jpg' %}{% endif %}" alt="" />

                    <div class="berg-prose">
                        <h2>Description</h2>
                        {{ activity.content|linebreaks }}

                        {% if activity.image2 %}<img class="berg-illustration my-4" src="{{ activity.image2.url }}" alt="" />{% endif %}

                        {% if activity.content2 %}
                            <h2>Précisions</h2>
                            {{ activity.content2|linebreaks }}
                        {% endif %}
                    </div>
                </article>

                {% include 'blocks/berg-commentaires.html' with url_update='activitycomment-update' url_delete='activitycomment-delete' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
