{% extends "bouygue/base.html" %}
{% load static %}
{% block content %}
<div hidden>{% block title %} — Erreur 403 {% endblock %}</div>
<div class="berg-erreur">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9">
                <img class="img-fluid" src="{% static 'bouygue/assets/img/illustrations/403-error-forbidden.svg' %}" alt="" />
                <div class="berg-erreur-code">403</div>
                <h1>Porte fermée</h1>
                <p class="mb-4">Vous n'avez pas les droits pour voir cette page. Si cela vous semble anormal, écrivez à un administrateur.</p>
                <div class="berg-erreur-actions">
                    <a class="btn btn-primary" href="{% url 'bouygue-home' %}">Retour à l'accueil</a>
                    <a class="btn btn-outline-primary" onClick="javascript:history.go(-1);">Revenir en arrière</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
