{% load static %}
{% comment %}
    Consultation d'un séjour appartenant à quelqu'un d'autre.
    Le script du calendrier déclenche #view-reservation-button et remplit
    #view_name, #view_start_date, #view_end_date, #view_description.
{% endcomment %}
<button hidden="hidden" class="btn" id="view-reservation-button" type="button" data-toggle="modal" data-target="#staticBackdrop3"></button>

<div class="modal fade" id="staticBackdrop3" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel3">Le séjour</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="berg-fiche">
                    <dl>
                        <dt>Séjour</dt>
                        <dd id="view_name"></dd>
                        <dt>Du</dt>
                        <dd id="view_start_date"></dd>
                        <dt>Au</dt>
                        <dd id="view_end_date"></dd>
                        <dt>Description</dt>
                        <dd id="view_description"></dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" type="button" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
