{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% block import %}
    {% include 'blocks/image-resize-imports.html' %}
{% endblock %}
<div id="layoutAuthentication_content" class="bg-gray-900 bg-img-cover" style="padding-right: 0.5rem; padding-left: 0.5rem; background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/piejau.jpg' %});">
    <div class="container" style="padding-right: 1rem; padding-left: 1rem;">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <!-- Basic registration form-->
                <div class="card shadow-lg border-0 rounded-lg mt-10 mb-4 animated--fade-in" style="opacity: 92%;">
                    <div class="card-header" style="background-color: #19273c; opacity: 96%">
                        <a onClick="javascript:history.go(-1);" class="col-xs btn btn-outline-white font-weight-bolder" title="retour"><i class="fas fa-chevron-left dropdown-arrow"></i></a>
                        <div class="col-11 font-weight-700 h4 my-4 mr-2" align="center" style="color: white;">
                            Ajouter un travail
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Post create form-->
                        <form method="POST" autocomplete="off chrome-off false">
                            {% csrf_token %}
                            <!-- Form Row-->
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <!-- Form Group (create account submit)-->
                            <div class="form-group mt-4 mb-0">
                                <button class="btn btn-primary btn-block font-weight-bolder" type="submit" name="create">Créer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
