{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div hidden>{% block title %} - Travaux {% endblock %}</div>
<!-- Page Header-->
<header class="page-header page-header-dark bg-img-cover overlay overlay-60" style="background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/pic_har.jpg' %}); height: 19rem;">
    <div class="page-header-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mt-0 mb-3">Travaux</h1>
                    <p class="page-header-text mb-0">Consultez la liste des travaux, classés par catégorie</p>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<section class="bg-light py-10">
    <div class="container" style="padding-right: 1.6rem; padding-left: 1.6rem;">
        <div class="post-archive-tag">
            <a class="btn btn-primary font-weight-bolder mt-1" href="{% url 'bouygue-home' %}" title="retour" ><i class="fas fa-chevron-left dropdown-arrow"></i></a>
            <a class="btn btn-primary font-weight-700 mt-1" href="{% url 'work-create' %}">Nouveau Travail</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="mb-0">Bricolage</h2>
                    <div class="badge badge-primary-soft text-primary badge-marketing">{{ handiwork_done|length }} tâche(s)</div>
                </div>
                <hr class="mb-0" />
                <ul class="list-group list-group-flush list-group-careers">
                    {% for work in handiwork_done %}
                    <li class="list-group-item">
                        <a href="{% url 'work-detail' work.id %}">{{ work.title }}</a>
                        <div class="small">Le {{ work.date_posted }}</div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="mb-0">Jardinage</h2>
                    <div class="badge badge-primary-soft text-primary badge-marketing">{{ gardening_done|length }} tâche(s)</div>
                </div>
                <hr class="mb-0" />
                <ul class="list-group list-group-flush list-group-careers">
                    {% for work in gardening_done %}
                    <li class="list-group-item">
                        <a href="{% url 'work-detail' work.id %}">{{ work.title }}</a>
                        <div class="small">Le {{ work.date_posted }}</div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="mb-0">Plomberie</h2>
                    <div class="badge badge-primary-soft text-primary badge-marketing">{{ plumbing_done|length }} tâche(s)</div>
                </div>
                <hr class="mb-0" />
                <ul class="list-group list-group-flush list-group-careers">
                    {% for work in plumbing_done %}
                    <li class="list-group-item">
                        <a href="{% url 'work-detail' work.id %}">{{ work.title }}</a>
                        <div class="small">Le {{ work.date_posted }}</div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="mb-0">Maçonnerie</h2>
                    <div class="badge badge-primary-soft text-primary badge-marketing">{{ masonry_done|length }} tâche(s)</div>
                </div>
                <hr class="mb-0" />
                <ul class="list-group list-group-flush list-group-careers">
                    {% for work in masonry_done %}
                    <li class="list-group-item">
                        <a href="{% url 'work-detail' work.id %}">{{ work.title }}</a>
                        <div class="small">Le {{ work.date_posted }}</div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="mb-0">Autre</h2>
                    <div class="badge badge-primary-soft text-primary badge-marketing">{{ other_done|length }} tâche(s)</div>
                </div>
                <hr class="mb-0" />
                <ul class="list-group list-group-flush list-group-careers">
                    {% for work in other_done %}
                    <li class="list-group-item">
                        <a href="{% url 'work-detail' work.id %}">{{ work.title }}</a>
                        <div class="small">Le {{ work.date }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#1e2c41"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
{% endblock content %}
