{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Page Header-->
<header class="page-header page-header-dark bg-img-cover overlay overlay-60" style="background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/pic_har.jpg' %}); height: 19rem;">
    <div class="page-header-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mt-0 mb-3">Travaux</h1>
                    <p class="page-header-text mb-0">Consultez le détail d'une tâche</p>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<section class="bg-light py-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-group list-group-flush list-group-careers">
                    <li class="list-group-item pt-0">
                        <a class="small" onClick="javascript:history.go(-1);" style="cursor: pointer"><i class="fas fa-arrow-left mr-1"></i>Retour</a>
                    </li>
                    <li class="list-group-item">Catégorie : {{ work.get_categories_display }}<i class="fas fa-tools fa-fw text-gray-400"></i></li>
                    <li class="list-group-item">État : {{ work.get_state_display }}<i class="fas fa-calendar fa-fw text-gray-400"></i></li>
                    <li class="list-group-item">Coût estimé : {{ work.cost }} €<i class="fas fa-euro-sign fa-fw text-gray-400"></i></li>
                    <li class="list-group-item">Statut : {{ work.get_status_display }}<i class="fas fa-clock fa-fw text-gray-400"></i></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <h1 class="mb-2">{{ work.title }}</h1>
                <div class="single-post-meta">
                    {% if user == work.author %}
                        <a class="btn btn-outline-primary font-weight-600" style="padding: 0.7rem;" href="{% url 'work-update' work.id %}">Modifier</a>
                    {% endif %}
                    {% if user == work.author or perms.work.delete_work %}
                        <a class="btn btn-outline-danger font-weight-600 ml-1" style="padding: 0.7rem;" href="{% url 'work-delete' work.id %}">Supprimer</a>
                    {% endif %}
                </div>
                <hr class="mb-5">
                <h5 class="mb-4">Description</h5>
                <p class="mb-4">{{ work.content }}</p>

                <div class="d-flex align-items-center justify-content-between mb-5">
                    <div class="single-post-meta mr-4 ml-auto p-2">
                        <a href="{% url 'user-work' work.author.surname work.author.name %}"><img class="single-post-meta-img" src="{{ work.author.profile.image.url }}"/>
                        <div class="single-post-meta-details">
                            <div class="single-post-meta-details-name">{{ work.author.surname }} {{ work.author.name }}</div></a>
                            <div class="single-post-meta-details-date">{{ work.date_posted }}</div>
                        </div>
                    </div>
                </div>

                <hr class="mt-5 mb-4">
                <h5 class="mb-4">Signaler que cette tâche est terminée ?</h5>
                <a class="btn btn-outline-primary font-weight-500" href="#!">J'ai terminé !</a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#1e2c41"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
{% endblock content %}
