{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'blocks/image-resize-imports.html' %}

{% include 'blocks/berg-entete.html' with surtitre="Travaux" titre=work.title image="bouygue/assets/img/backgrounds/montagne/pic_har.jpg" %}

<section class="berg-section berg-section--serree">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">

                {% include 'blocks/berg-messages.html' %}

                <div class="berg-actions">
                    <a class="berg-retour" href="{% url 'work' %}">Tous les travaux</a>
                    <span class="ml-auto"></span>
                    {% if user == work.author %}
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'work-update' work.id %}" name="update-work">Modifier</a>
                    {% endif %}
                    {% if user == work.author or user.is_superuser or user.is_staff %}
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'work-delete' work.id %}" name="delete-work">Supprimer</a>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="berg-fiche">
                            <dl>
                                <dt>Catégorie</dt><dd><i class="fas fa-tools fa-fw"></i> {{ work.get_categories_display }}</dd>
                                <dt>État</dt><dd><i class="fas fa-calendar fa-fw"></i> {{ work.get_state_display }}</dd>
                                <dt>Coût estimé</dt><dd><i class="fas fa-euro-sign fa-fw"></i> {{ work.cost }} €</dd>
                                <dt>Statut</dt><dd><i class="fas fa-clock fa-fw"></i> {{ work.get_status_display }}</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <article class="berg-detail">
                            <h1 class="berg-detail-titre">{{ work.title }}</h1>
                            {% include 'blocks/berg-signature.html' with auteur=work.author date=work.date_posted %}
                            <hr class="berg-couture my-4" />
                            <div class="berg-prose">{{ work.content|linebreaks }}</div>
                            {% if work.image %}<img class="berg-illustration mt-4" src="{{ work.image.url }}" alt="" />{% endif %}
                        </article>

                        {% if work.state != 2 %}
                            <div class="berg-mot mt-4 text-left">
                                <h2 class="h4 mb-2">Cette tâche est terminée&nbsp;?</h2>
                                <p class="text-muted mb-3">Signalez-le : elle basculera dans la liste des travaux terminés.</p>
                                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#staticBackdrop">J'ai terminé&nbsp;!</button>
                            </div>

                            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Confirmez-vous avoir terminé «&nbsp;{{ work.title }}&nbsp;»&nbsp;?</p>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="berg-form-pied">
                                                    <button class="btn btn-primary" id="confirm-done" type="submit" name="action" value="done">Oui, c'est fait</button>
                                                    <button class="btn btn-outline-primary" type="button" data-dismiss="modal">Annuler</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% include 'blocks/berg-commentaires.html' with url_update='workcomment-update' url_delete='workcomment-delete' nom_bouton='action' valeur_bouton='comment' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
