asgiref==3.12.1
crispy-bootstrap4==2026.2
Django==5.2.17
django-client-side-image-cropping==0.1.10
django-crispy-forms==2.7
gunicorn==26.2.0
pillow==12.3.0
psycopg2==2.9.13
python-dotenv==1.2.3
sqlparse==0.6.0
