{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <!-- Page Header-->
            <header class="page-header page-header-dark bg-img-cover overlay overlay-60" style="background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/ordesa.jpg' %}); height: 19rem;">
                <div class="page-header-content">
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h1 class="page-header-title mt-0 mb-3">Information</h1>
                                <p class="page-header-text mb-0">{{ infopost.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-waves text-dark">
                    <!-- Wave SVG Border-->
                    <svg class="wave" style="pointer-events: none" fill="#f2f6fc" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
                        <defs>
                            <style>
                                .a {
                                    fill: none;
                                }
                                .b {
                                    clip-path: url(#a);
                                }
                                .d {
                                    opacity: 0.5;
                                    isolation: isolate;
                                }
                            </style>
                        </defs>
                        <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
                        <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
                        <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
                        <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
                        <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
                    </svg>
                </div>
            </header>
            <section class="bg-light py-5">
                <div class="container" style="padding-left: 1.5rem; padding-right: 1.5rem;">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="post-archive-tag">
                                <a class="btn btn-outline-primary font-weight-bolder" href="{% url 'info' %}" title="retour" ><i class="fas fa-chevron-left dropdown-arrow"></i></a>
                                {% if user == infopost.author %}
                                <a class="btn btn-outline-primary font-weight-700 ml-1" href="{% url 'infopost-update' infopost.id %}">Modifier</a>
                                {% endif %}
                                {% if user == infopost.author or perms.info.delete_infopost %}
                                <a class="btn btn-outline-danger font-weight-700 ml-1" href="{% url 'infopost-delete' infopost.id %}">Supprimer</a>
                                {% endif %}
                            </div>
                            <div class="post-archive-item">
                                <h5>{{ infopost.title }}</h5>
                                <p>{{ infopost.content }}</p>
                            </div>
                            <div class="post-archive-meta mb-7">
                                <a href="{% url 'user-infoposts' infopost.author.surname infopost.author.name %}"><img class="post-archive-meta-img" src="{{ infopost.author.profile.image.url }}" />
                                <div class="post-archive-meta-details">
                                    <div class="post-archive-meta-details-name">{{ infopost.author.surname }} {{ infopost.author.name }}</div></a>
                                    <div class="post-archive-meta-details-date">{{ infopost.date_posted }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-10 bg-gray-200 rounded">
                            <h1 class="mt-4">Commentaires</h1>
                            <hr class="my-2" />
                            <!-- Post Comment form-->
                            <form method="POST">
                                {% csrf_token %}
                                <!-- Form Row-->
                                <fieldset class="form-group mb-5">
                                    {{ form|crispy }}
                                    <button class="btn btn-primary font-weight-bolder" type="submit">PUBLIER</button>
                                </fieldset>
                            </form>
                            {% for comment in infopost.infocomment_set.all %}
                                <div class="post-archive-meta d-flex">
                                    <a href="{% url 'user-posts' comment.author.surname comment.author.name %}"><img class="post-archive-meta-img" src="{{ comment.author.profile.image.url }}" />
                                    <div class="post-archive-meta-details mr-auto p-2">
                                        <div class="post-archive-meta-details-name">{{ comment.author.surname }} {{ comment.author.name }}</div></a>
                                        <div class="post-archive-meta-details-date">{{ comment.date_posted }}</div>
                                    </div>
                                    {% if user == comment.author %}
                                        <a class="btn btn-outline-primary font-weight-500" style="padding: 0.6rem;" href="{% url 'infocomment-update' comment.id %}">modifier</a>
                                    {% endif %}
                                    {% if user == comment.author or perms.info.delete_comment %}
                                        <a class="btn btn-outline-danger font-weight-500 ml-1" style="padding: 0.6rem;" href="{% url 'infocomment-delete' comment.id %}">supprimer</a>
                                    {% endif %}
                                    </div>
                                <div class="post-archive-item mt-3">
                                    <p>{{ comment.content }}</p>
                                </div>
                                <hr class="my-5" />
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
{% endblock content %}
