{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'blocks/image-resize-imports.html' %}

{% include 'blocks/berg-entete.html' with surtitre="Info pratique" titre=infopost.title image="bouygue/assets/img/backgrounds/montagne/ordesa.jpg" %}

<section class="berg-section berg-section--serree">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                {% include 'blocks/berg-messages.html' %}

                <div class="berg-actions">
                    <a class="berg-retour" href="{% url 'info' %}">Toutes les infos</a>
                    <span class="ml-auto"></span>
                    {% if user == infopost.author %}
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'infopost-update' infopost.id %}" name="update-infopost">Modifier</a>
                    {% endif %}
                    {% if user == infopost.author or user.is_superuser or user.is_staff %}
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'infopost-delete' infopost.id %}" name="delete-infopost">Supprimer</a>
                    {% endif %}
                </div>

                <article class="berg-detail">
                    <h1 class="berg-detail-titre">{{ infopost.title }}</h1>
                    {% include 'blocks/berg-signature.html' with auteur=infopost.author date=infopost.date_posted %}
                    <hr class="berg-couture my-4" />
                    <div class="berg-prose">{{ infopost.content|linebreaks }}</div>
                    {% if infopost.image %}<img class="berg-illustration mt-4" src="{{ infopost.image.url }}" alt="" />{% endif %}
                </article>

                {% include 'blocks/berg-commentaires.html' with url_update='infocomment-update' url_delete='infocomment-delete' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
