{% extends "bouygue/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <!-- Page Header-->
            <header class="page-header page-header-dark bg-img-cover overlay overlay-60" style="background-image: url({% static 'bouygue/assets/img/backgrounds/montagne/bouquetin.jpg' %}); height: 19rem;">
                <div class="page-header-content">
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h1 class="page-header-title mt-0 mb-3" style="font-size: 185%">{{ view.kwargs.surname }} {{ view.kwargs.name }} a créé {{ page_obj.paginator.count }} information(s)</h1>
                            </div>
                        </div>
                    </div>
                </div>
                {% block border-wave %}
                    {% include 'blocks/svg-border-wave.html' %}
                {% endblock %}
            </header>
            <section class="bg-light py-3">
                <div class="container" style="padding-left: 1.5rem; padding-right: 1.5rem;">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="post-archive-tag">
                                <a class="btn btn-primary font-weight-bolder" onClick="javascript:history.go(-1);" title="retour" ><i class="fas fa-chevron-left dropdown-arrow"></i></a>
                            </div>
                            {% for post in infoposts %}
                                <a class="post-archive-item" href="{% url 'infopost-detail' post.id %}">
                                    <h5>{{ post.title }}</h5>
                                    <p>{{ post.content }}</p>
                                </a>
                                <div class="post-archive-meta">
                                    <img class="post-archive-meta-img" src="{{ post.author.profile.image.url }}" />
                                    <div class="post-archive-meta-details">
                                        <div class="post-archive-meta-details-name">{{ post.author.surname }} {{ post.author.name }}</div>
                                        <div class="post-archive-meta-details-date">{{ post.date_posted }}</div>
                                    </div>
                                    <a class="font-weight-700 col-lg-3 ml-auto" style="padding-right: 0;" href="{% url 'infopost-detail' post.id %}">Voir l'information</a>
                                </div>
                                <hr class="my-5" />
                            {% endfor %}
                        </div>
                    </div>
                    {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-blog justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item active"><a class="page-link" href="?page=1">Début</a></li>
                            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Préc.</a></li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item disabled"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Suiv.</a></li>
                            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Fin</a></li>
                        {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                <div class="svg-border-rounded text-dark">
                    <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#f2f6fc"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                </div>
            </section>
        </main>
    </div>
</div>
{% endblock content %}
